@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__header {
  background-color: white;
}

.react-datepicker__day--selected {
  background-color: #b3cec9;
  color: #025b4b;
  border-radius: 100px;

  &:hover {
    background-color: #d4d8d9;
    border-radius: 100px;
  }
}

.react-datepicker__day {
  &:hover {
    background-color: #d4d8d9;
    border-radius: 100px;
  }
}

.react-datepicker__input-container input {
  background-color: white;

  @media (min-width: 768px) {
    width: 125px;
    background-color: #f5f5f5;
  }
}
